
.inquiryCard {
    background: url(./images/bluebg.png);
    background-size: cover;
    border-radius: 20px;
    min-height: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .inquiryCard .hero-section-para {
    width: 80%;
  }
  
  .footerCard {
    background: url(./images/footerBg.png);
    background-size: cover;
    border-radius: 20px;
    min-height: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .social-icons img {
    height: 65px;
    width: 65px;
    margin-right: 15px;
    margin-bottom: 40px;
  }
  
  .footerCopyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #232323;
    gap: 20px;
    flex-wrap: wrap;
  }